* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Playfair Display", serif;
  font-style: normal;
}

body {
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #003a3a;
}

main {
  padding: 20px 5%;
  background-color: #ededed;
  height: 100vh;
  overflow-y: scroll;
}

nav h1 {
  color: orange;
  font-weight: 600;
  font-size: 2em;
}

button {
  border: none;
  width: 100px;
  padding: 8px 5px;
  border-radius: 0 2px 2px 0;
  background-color: orange;
  color: #fff;
  font-weight: 600;
}

input {
  padding: 8px;
  border: none;
  width: 250px;
  border-radius: 2px 0 0 2px;
}

input:focus {
  outline: none;
}

footer {
  background-color: #003a3a;
  color: orange;
  padding: 20px 5%;
}

.news-content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.news-card{
    width: 20%;
    border:none;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.news-card h2{
    font-weight: 600;
    text-align: justify;
}

.news-card p{
    font-size: 0.7em;
    text-align: justify;
}

.news-card img{
    width: 100%;
    object-fit: cover;
}



@media screen and (min-width: 250px) and (max-width:720px) {
  header nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10%;
    background-color: #003a3a;
  }

  .news-content{
    display:flex ;
    flex-direction: column;
}

.news-card{
  display: flex;
  width: 100%;
  border:none;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
}

.news-card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

main {
  padding: 20px 10%;
  background-color: #ededed;
  height: 100vh;
  overflow-y: scroll;
}

.news-card h2{
  font-weight: 600;
  font-size: 0.5em;
  text-align: justify;
}

.news-card p{
  font-size: 0.4em;
  text-align: justify;
}

button {
  border: none;
  width: 100%;
  padding: 8px 5px;
  border-radius: 0 2px 2px 0;
  background-color: orange;
  color: #fff;
  font-weight: 600;
}

input {
  padding: 8px;
  border: none;
  width: 100%;
  border-radius: 2px 0 0 2px;
}

.search-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

}
